.library {
    .banner {
        width: 1100px;
        height: 300px;
        margin: 0 auto;
        margin-top: 109px;
        background-color: green;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        div {
            margin-left: 80px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p:first-child {
                margin: 0;
                color: white;
                font-size: 50px;
                font-weight: bolder;
            }
            p {
                margin: 0;
                color: white;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
    .header-separator {
        width: 1100px;
        margin: auto;
        margin-top: 43px;
        p {
            font: 300 24px 'Lato', "Helvetica Neue", sans-serif;
        }
    }
    .book-container {
        margin: auto;
        display: flex;
        width: 1100px;
        justify-content: space-between;
        flex-wrap: wrap;
        app-book-card {
            margin-bottom: 18px;
        }
    }
}