.library {
    .header-separator {
        width: 1100px;
        margin: auto;
        margin-top: 180px;
        p {
            font: 300 24px 'Lato', "Helvetica Neue", sans-serif;
        }
    }
    .book-container {
        margin: auto;
        display: flex;
        width: 1100px;
        justify-content: space-between;
        flex-wrap: wrap;
        app-book-card{
            margin-bottom: 18px;
        }
    }
}

