.settings-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 65px);
  align-items: center;
  margin-top: -30px;

  .card-container{
    width: 1100px;
    height: 360px;
    display: flex;
    justify-content: space-around;
    justify-content: row;
  }
}

