<div class="information-block" [ngClass]="type === 'large' ? 'large' : 'small'">
    <div class="information-content">
        <div class="content-container">
            <div class="verlanglijst">
                <div class="bar-container">
                    <p>Uw verlanglijst</p>
                </div>
                <div class="boek">
                        <h1>Boek 1</h1>
                        <h2>Auteur 1</h2>
                    </div>
                    <div class="boek">
                        <h1>Boek 2</h1>
                        <h2>Auteur 2</h2>
                    </div>
            </div>
            <div class="boeken">
                <div class="bar-container">
                    <p>Uw boeken</p>
                </div>
                <div class="boek">
                    <h1>Boek 1</h1>
                    <h2>Auteur 1</h2>
                </div>
                <div class="boek">
                    <h1>Boek 2</h1>
                    <h2>Auteur 2</h2>
                </div>
            </div>
        </div>
    </div>
</div>