<div class="book-container">
    <h2>Boeken overzicht:</h2>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let book of books | async" (opened)="getBook(book)" (closed)="visible=true">
            <mat-expansion-panel-header>
                <mat-panel-title style="vertical-align:middle;">
                    <img *ngIf="book.bigThumbnail !== 'EMPTY'" style="vertical-align:middle; margin-right: 24px;" aria-hidden src="{{book.bigThumbnail}}" height="48" />
                    <img *ngIf="book.importImage !== 'EMPTY'" style="vertical-align:middle; margin-right: 24px;" aria-hidden src="{{getURL(book.importImage)}}" height="48" />
                    <p>{{ book.title }}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expension-content">

                <div class="form-row">
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Subtitel" [(ngModel)]="subTitle" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Catagorieen" [(ngModel)]="categories" />
                        </mat-form-field>
                    </div>
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Uitgeverij" [(ngModel)]="publisher" />
                        </mat-form-field>
                    </div>
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Datum van uitgave" [(ngModel)]="publishDate" />
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <mat-select placeholder="Selecteer presentator" [(ngModel)]="selectedEmployee" (change)="update(selectedEmployee)" name="food">
                            <mat-option *ngFor="let employee of employees | async" [value]="employee.uid">
                                {{employee.name || employee.email}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="form-row">
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <textarea rows="5" matInput type="text" placeholder="Beschrijving" [(ngModel)]="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="video code" [(ngModel)]="videoLink" />
                            <span matPrefix><b>youtube.com/watch?v=&nbsp;</b></span>
                        </mat-form-field>
                    </div>
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Prezi link" [(ngModel)]="preziLink" />
                        </mat-form-field>
                    </div>
                    <div class="expension-row">
                        <mat-form-field class="form-field">
                            <input matInput type="text" placeholder="Review code" [(ngModel)]="reviewId" />
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <br>
            <mat-divider></mat-divider>
            <h3>Hoofdstukken</h3>
            <div class="add-line">
                <mat-form-field>
                    <input matInput type="text" placeholder="Hoofdstuk naam" [(ngModel)]="chapterTitle" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Tijdstip(Mm:Ss)" [(ngModel)]="time" />
                </mat-form-field>
                <button mat-button color="primary" (click)="addToObject(chapterTitle,time)">
                    Toevoegen
                  </button>

            </div>
            <ul class="chapter-list">
                <li *ngFor="let section of sections" class="box">
                    <p>{{ section.title }}</p>
                    <div>
                        <p>{{ convertTime(section.time) }}</p>
                        <mat-icon (click)="deleteSection(section.id)">delete</mat-icon>
                    </div>
                </li>
            </ul>
            <mat-action-row>
                <button mat-button color="warn" (click)="deleteBook(book)">Verwijder</button>
                <button mat-button color="primary" (click)="updateBook(book)">Update</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

</div>
<button mat-fab class="fab" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a heart icon" >add</mat-icon>
</button>