<div class="book-container">
  <h2>boeken overzicht:</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let book of books | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ book.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{book.smallCover}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expension-content">
        <div class="expension-row">
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<button mat-fab class="fab" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a heart icon" >add</mat-icon>
</button>
