mat-card{
  margin: 0px;
  max-width: 291px;
  height: 247px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;

  .card-header{
    display: flex;
    flex: 1;
  }

  .card-content{
    display: flex;
    flex: 6;
    flex-direction: column;

    mat-form-field{
      width: 50%;
    }
  }
  .card-action{
    display: flex;
    flex: 1;
  }
}

h3{
  margin: 0;
}
