<div class="information-block" [ngClass]="type === 'large' ? 'large' : 'small'">
    <img src={{book.bigThumbnail}}/>
    <div class="information-content">
        <div class="bar-container">
            <p>{{book.title}}</p>
            <!-- <div *ngIf="type === 'large'" class="progressBar">
                <div class="progress">
                    <p>40%</p>
                </div>
            </div> -->
            <div>
                <a href={{book.preziLink}} target="_blank"><app-button *ngIf="type === 'large'" [type]="'accept'" [filled]="false" [title]="'Presentatie bekijken'" [icon]="'open_in_new'"></app-button></a>
                <app-button *ngIf="type === 'large'" [type]="'accept'" [filled]="true" [title]="'Video afspelen'" [icon]="'play_arrow'" (click)="toVideo()"></app-button>
            </div>
        </div>
        <div class="content-container">
            <div class="general-info">
                <table>
                    <tr>
                        <td>Genre</td>
                        <td>{{checkDbOutput(book.categories)}}</td>
                    </tr>
                    <tr>
                        <td>Schrijver</td>
                        <td>{{checkDbOutput(book.author)}}</td>
                    </tr>
                    <tr>
                        <td>Uitgave</td>
                        <td>{{checkDbOutput(book.publishDate)}}</td>
                    </tr>
                    <tr>
                        <td>Presentator</td>
                        <td>{{presentor}}</td>
                    </tr>
                    <tr>
                        <td>Duur</td>
                        <td>0:50</td>
                    </tr>
                    <tr *ngIf="type === 'large'">
                        <td>Beoordeling</td>
                        <td>
                            <rating [(ngModel)]="rating" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']" [readonly]="true"></rating>
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="type === 'large'" class="description">
                <h4>Omschrijving</h4>
                <p>{{checkDbOutput(book.description) | slice:0:380}}...</p>
            </div>
        </div>
    </div>
</div>