<h1 mat-dialog-title>Boek toevoegen</h1>
<div mat-card-content>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Boek zoeken" aria-label="Search Book" [matAutocomplete]="auto" [(ngModel)]="keyword" (ngModelChange)="searchBook(keyword)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let book of books">
        <div (click)="selectBook(book)" *ngIf="book.volumeInfo.title || book.volumeInfo.imageLinks.smallThumbnail">
        <img style="vertical-align:middle;" aria-hidden src="{{book.volumeInfo.imageLinks.smallThumbnail}}" height="25" />
        <span>{{ book.volumeInfo.title }}</span> |
        <small>Population: {{book.volumeInfo.authors}}</small>
      </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div>
    <p>geselecteerd boek : {{title}}</p>
  </div>

  <video-dropzone></video-dropzone>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ANNULEREN</button>
  <button mat-button color="primary" [mat-dialog-close]="{book:selectedBook,videolink:'link'}" cdkFocusInitial>VOEG TOE</button>
</div>
