.review-container {
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12) !important;
    margin: 50px auto 50px auto;
}

.header {
    width: 85%;
    margin: 0;
    padding: 30px 0px;
}

p:first-child {
    font-size: 20px;
    color: #4a4a4a;
}

.row {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dedede;
    p {
        margin: 0px;
        padding: 30px 0px;
        color: #4a4a4a;
        font-size: 14px;
    }
    rating {
        margin-top: -6px;
    }
}

.button-row {
    width: 85%;
    display: flex;
    justify-content: space-between;
    app-button {
        padding: 30px 0;
    }
}

textarea {
    resize: none;
    width: 85%;
    height: 300px;
    border-radius: 10px;
    border: 0px solid #dedede;
    background: #dedede;
    color: #4a4a4a;
}

mat-tab-group {
    width: 100%;
}