<div class="book-card" [ngClass]="{'book-card-hover': hover}">
    <img src={{book.bigThumbnail}} alt="Photo of {{book.title}">
    <div class="info-container">
        <p *ngIf="book.title">{{checkTitle(book.title)}}</p>
        <p>{{ book.author || 'author' }}</p>
        <p class="description">{{book.description | slice:0:120}}...</p>
        <div class="action-container">
            <rating [(ngModel)]="rating" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']" [readonly]="true"></rating>
            <div class="button">
                <p>Bekijk</p>
                <mat-icon>play_arrow</mat-icon>
            </div>
        </div>
    </div>
</div>