<div class="book-card" [ngClass]="{'book-card-hover': hover}">
    <img src={{book.bigThumbnail}} alt="Photo of {{book.title}">
    <div class="info-container">
        <p>{{ book.title }}</p>
        <p>Author</p>
        <p class="description">{{book.description.slice(0, 140)}}...</p>
        <div class="action-container">
            <rating [(ngModel)]="rating" iconClass="ster" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']" [readonly]="true"></rating>
            <app-button [title]="'Bekijk'" [type]="'card'" [icon]="'play_arrow'"></app-button>
        </div>
    </div>
</div>