<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>

    <span>Lunch Learners</span>

    <span class="example-spacer"></span>

    <button mat-button routerLink="library" *ngIf="user">Mijn boeken</button>
    <button mat-button routerLink="store" *ngIf="user">Ontdekken</button>
    <button mat-button routerLink="admin" *ngIf="user || admin">Admin</button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="account-circle">account_circle</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="settings" *ngIf="user">Settings</button>
      <button mat-menu-item (click)="auth.signOut()" *ngIf="user">Uitloggen</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
