<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>

    <span>Lunch Learners</span>

    <span class="example-spacer"></span>

    <button mat-button routerLink="library" *ngIf="user">Mijn boeken</button>
    <button mat-button routerLink="store"  *ngIf="user">Ontdekken</button>
    <div *ngIf="admin">
      <button mat-button routerLink="admin" *ngIf="user">Admin</button>
    </div>
    <button mat-button (click)="auth.signOut()"  *ngIf="user">Uitloggen</button>

  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>

