<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lunch Learners</span>
  
      <span class="example-spacer"></span>
      
      <button mat-button routerLink="library">Mijn boeken</button>
      <button mat-button routerLink="store">Ontdekken</button>
      <button mat-button>Uitloggen</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<button mat-fab class="fab">
        <mat-icon aria-label="Example icon-button with a heart icon">call</mat-icon>
</button>