.card{
    //max-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    //flex:1;
    width:80%;
    float:left;
    margin: 10px;
    //background-color: red;
    position:relative;
}

.header{
    display: flex;
    flex-direction: row;
}

.img{
    float:left;
    width:20%;
    //background-color: green;
}

.title{
    float:right;
    width:60%;
    //background-color: yellow;
}

.content{
    float:right;
    background-color: blue;
}