<div class="admin">
  <div class="drawer-container">
    <div class="drawer">
      <div class="item">
        <div>
          <p>klant toevoegen</p>
        </div>
      </div>
      <div class="item">
        <div>
          <p>Boek toevoegen</p>
        </div>
      </div>
      <div class="item">
        <div>
          <p>database exporteren toevoegen</p>
        </div>
      </div>
      <div class="item">
        <div>
          <p>klanten overzicht</p>
        </div>
      </div>
    </div>
  </div>

</div>
<button mat-fab class="fab">
    <mat-icon aria-label="Example icon-button with a heart icon"  (click)="openDialog()" >add</mat-icon>
</button>
