<div class="admin">
  <div class="drawer-container">
    <div class="drawer">
      <div class="item">
        <div><p>klant toevoegen</p></div>
      </div>
      <div class="item">
        <div><p>Boek toevoegen</p></div>
      </div>
      <div class="item">
        <div><p>database exporteren toevoegen</p></div>
      </div>
      <div class="item">
        <div>
          <p>klanten overzicht</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container">
      <mat-card class="company-card">
          <mat-card-header>
            <mat-card-title>Bedrijf toevoegen toevoegen</mat-card-title>
          </mat-card-header>
          <mat-card-content class="company-card-content">

              <mat-form-field class="form-field">
                  <input matInput type="text" placeholder="name" [(ngModel)]="name"/>
                  <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field class="form-field">
                  <input matInput type="text" placeholder="code" [(ngModel)]="code"/>
                  <button mat-button *ngIf="code" matSuffix mat-icon-button aria-label="Clear" (click)="code=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input matInput type="text" placeholder="branche" [(ngModel)]="branche"/>
                    <button mat-button *ngIf="branche" matSuffix mat-icon-button aria-label="Clear" (click)="branche=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field class="form-field">
                      <input matInput type="text" placeholder="emailsuffix" [(ngModel)]="emailsuffix"/>
                      <button mat-button *ngIf="emailsuffix" matSuffix mat-icon-button aria-label="Clear" (click)="emailsuffix=''">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>

          </mat-card-content>
          <div *ngIf="message">
              {{message}}
             </div>
          <mat-card-actions>
            <button (click)="uploadCompanyToFirestore()" mat-button>UPLOAD</button>
          </mat-card-actions>
        </mat-card>
  </div>

</div>
