<div class="admin">
  <div class="drawer-container">
    <div class="drawer">
      <div class="item">
        <div>
            <button mat-button><mat-icon color="primary"  aria-label="Example icon-button with a heart icon">book</mat-icon>Boeken overzicht</button>
        </div>
      </div>
      <div class="item">
          <div>
              <button mat-button class="active"><mat-icon color="primary"  aria-label="Example icon-button with a heart icon">work</mat-icon>Bedrijven overzicht</button>
          </div>
        </div>
        <div class="item">
            <div>
                <button mat-button><mat-icon color="primary"  aria-label="Example icon-button with a heart icon">supervisor_account</mat-icon>Gebruikers overzicht</button>
            </div>
          </div>
      <div class="item">
        <div>
            <button mat-button><mat-icon color="primary"  aria-label="Example icon-button with a heart icon">import_export</mat-icon>Database exporteren</button>
        </div>
      </div>
    </div>
  </div>

  <app-company-list></app-company-list>


</div>
<button mat-fab class="fab" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a heart icon" >add</mat-icon>
</button>
