.admin {
  display: flex;
  flex-direction: row;
}

app-menu-container {
  height: 100%;
  position: fixed;
}

.company-card-content{
  display: flex;
  flex-direction: column;
}

.router-container{
  width: 100%;
  background-color: #f7f7f7;
  padding-left: 300px;
}

