<div mat-card-content>
    <div class="review-container">
        <p class="header">Wat vond u van de presentatie ?</p>
        <div class="row">
            <p>Algemene indruk</p>
            <rating [(ngModel)]="generalRating" [titles]="['one', 'two', 'three', 'four', 'five']"></rating>
        </div>
        <input class="title" placeholder="Titel" [(ngModel)]="title">
        <textarea cols="num" rows="num" [(ngModel)]="remark"></textarea>
        <div class="button-row">
            <app-button [type]="'accept'" [filled]="true" [title]="'Verstuur'" (click)="accept()"></app-button>
        </div>
    </div>
</div>