@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans');

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f7f7f7;
}

h2 {
    font: 300 20px/32px 'Lato', "Helvetica Neue", sans-serif;
}

h3 {
    font: 300 16px/18px 'Lato', "Helvetica Neue", sans-serif;
}

.container-wide {
    max-width: 1100px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 80px;
}