@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

h2{
    font: 400 20px/32px Roboto,"Helvetica Neue",sans-serif;
}