<div id="login-background" style="background-image: url('../../assets/login background.jpg');">
  <div id="login-background-overlay">
    <div id="login-container">
      <img id="lunch-learners-logo" src="../../assets/Lunch Learners logo white.png">
      <div class="switch">
      <mat-card-subtitle class=" is-small" (click)="loginPage()">Inloggen</mat-card-subtitle>
      <mat-card-subtitle class=" is-small" (click)="register()">Registreren</mat-card-subtitle>
      </div>
      <div class="triangles">
          <img [style.opacity]="arrow1" class="triangle" src="../../assets/images/triangle.svg">
          <img [style.opacity]="arrow2" class="triangle" src="../../assets/images/triangle.svg">
          </div>
        <mat-card class="login-card">
            <form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">
                <mat-card-content>
                    <input  placeholder="Bedrijfs email" type="email" id="email" class="input" formControlName="email" required>
                    <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
            
                    <input  placeholder="Wachtwoord" type="password" id="password" class="input" formControlName="password" required>
                    <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
                  <!-- <span *ngIf="userForm.valid" class="help is-success">Ziet er goed uit!</span><br><br> -->
            
                  <button type="'submit'" class="button inloggenbutton" [disabled]="!userForm.valid" color="primary">Inloggen</button>
                  <button (click)="resetPassword()" class="button help is-info wachtwoordbutton">Wachtwoord vergeten</button>
                  <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
              
                </mat-card-content>
              </form>

          <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">
              <mat-card-content>
                  <input  placeholder="Bedrijfs email" [formControl]="email" type="email" id="email" class="input" formControlName="email"
                    required>
                  <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
                  <input  placeholder="Wachtwoord" [formControl]="password" type="password" id="password" class="input" formControlName="password"
                    required>
                  <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
                <!-- <div *ngIf="userForm.valid" class="notification is-success">Ziet er goed uit!</div><br> -->
                <button  type="submit" class="button inloggenbutton"class="button inloggenbutton" [disabled]="!userForm.valid" color="primary">aanmaken</button>
              </mat-card-content>
              <div *ngFor="let company of companies | async">
                  <div>
                    <p>{{company.name}}</p>
                  </div>
                </div>
            </form>
          
            
          </mat-card>
    </div>
  </div>
</div>
