<div class="presentation-page-1">
    <app-book-info-header [type]="'large'" [book]="book"></app-book-info-header>
    <div class="header-separator">
        <p>Presentatie inhoud</p>
    </div>
    <div class="section-button-container" *ngFor="let section of book.sections; let i = index ">
        <app-section-button [section]="i+1" [title]="section.title" [time]="section.time " (click)="toVideo(section.time)"></app-section-button>
    </div>
    <div class="header-separator ">
        <p>Reviews</p>
        <p class="review-button" (click)="openDialog()">+ voeg een review toe</p>
    </div>
    <div class="review-container">
        <div class="review">
            <div class="title">
                <p><b>Hele mooie video hoor!</b></p>
                <rating [(ngModel)]="rating" [readonly]="true" [titles]="['one', 'two', 'three', 'four', 'five']"></rating>
            </div>
            <div class="review-text">
                <p>
                    De meeste beginnende bedrijven mislukken. Maar de meeste van die mislukkingen zijn te voorkomen. De Lean Startup is een nieuwe aanpak van business die over de hele wereld wordt toegepast. Het verandert de manier waarop bedrijven georganiseerd zijn en
                    nieuwe producten geïntroduceerd worden.
                </p>
            </div>
        </div>





    </div>
</div>