<div class="presentation-page-1">
    <app-book-info-header [type]="'large'" [book]="book"></app-book-info-header>
    <div class="header-separator">
        <p>Presentatie inhoud</p>
    </div>
    <div class="section-button-container" *ngFor="let section of book.sections; let i = index ">
        <app-section-button [section]="i+1" [title]="section.title" [time]="section.time " (click)="toVideo(section.time)"></app-section-button>
    </div>
    <div class="header-separator ">
        <p>Reviews</p>
        <p class="review-button" (click)="openDialog()">+ voeg een review toe</p>
    </div>
    <div class="review-container">
        <div class="review" *ngFor="let review of reviews">
            <div class="title">
                <p><b>{{review.title ? review.title : 'live review'}}</b></p>
                <rating [(ngModel)]="review.generalRating" [readonly]="true" [titles]="['one', 'two', 'three', 'four', 'five']"></rating>
            </div>
            <div class="review-text">
                <p>
                    {{review.remark}}
                </p>
            </div>
        </div>
    </div>
</div>