<div class="company-container">
    <h2>Bedrijven overzicht:</h2>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let company of companies | async">
            <mat-expansion-panel-header (click)="get(company.uid,company.name,company.code,company.branche,company.emailsuffix,company.books, company.users)">
                <mat-panel-title>
                    {{ company.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{company.code}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="expension-content">
                <div class="expension-row">
                    <mat-form-field>
                        <input matInput placeholder="name" [(ngModel)]="name">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="code" [(ngModel)]="code">
                    </mat-form-field>
                </div>
                <div class="expension-row">
                    <mat-form-field class="form-field">
                        <mat-select placeholder="Selecteer branche" [(ngModel)]="branche">
                            <mat-option *ngFor="let branches of allBranches || async" value="branches">{{branches}}</mat-option>

                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="emailsuffix" [(ngModel)]="emailsuffix">
                    </mat-form-field>
                </div>
            </div>
            <mat-list>

                <mat-divider></mat-divider>
                <h3 mat-subheader>Users</h3>
                <mat-list-item *ngFor="let user of users || async">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <h4 mat-line>{{user}}</h4>
                </mat-list-item>

                <mat-divider></mat-divider>
                <h3 mat-subheader>Books</h3>
                <mat-list-item *ngFor="let book of books || async">
                    <mat-icon mat-list-icon>book</mat-icon>
                    <h4 class="item-line" mat-line>
                        <p>{{book.title}}</p>
                        <mat-icon mat-list-icon (click)="deleteBook(book)">delete</mat-icon>
                    </h4>
                </mat-list-item>
                <mat-form-field>
                    <mat-select placeholder="Selecteer boek" [(ngModel)]="selectedbook" (change)="updateBookArray(selectedbook)">
                        <mat-option *ngFor="let book of allBooks | async" [value]="book.uid">
                            {{book.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list>
            <mat-action-row>
                <button mat-button color="accent" (click)="delete()">delete</button>
                <button mat-button color="primary" (click)="update()">update</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<button mat-fab class="fab" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a heart icon" >add</mat-icon>
</button>
<br>
<br>
<br>
<br>
<br>