<div class="row">

      <div class="span8">
        <div id="player-api-intro"><iframe src="https://prezi.com/player/?oid=hp08thgs3ifs&amp;explorable=1&amp;controls=1" frameborder="0" scrolling="no" width="620" height="444" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe></div>
      </div>
      <div class="span4">
        <ul class="nav nav-list" id="sidebar-nav">
          <li class=""><a href="#0"><strong>Home</strong></a></li>
          <li class=""><a href="#1"><strong>Prezi Player API</strong></a></li>
          <li class=""><a href="#2">&nbsp; What is it about?</a></li>
          <li class=""><a href="#3">&nbsp; How to prepare?</a></li>
          <li class=""><a href="#4">&nbsp; Easy to use!</a></li>
          <li class=""><a href="#5">&nbsp; Should know</a></li>
          <li class=""><a href="#6"><strong>Think about</strong></a></li>
          <li class=""><a href="#7">&nbsp; Non-linear storytelling</a></li>
          <li class=""><a href="#8">&nbsp; Table of contents / Chatroom</a></li>
          <li class=""><a href="#9">&nbsp; Syncing a prezi and a video</a></li>
          <li class=""><a href="#10">&nbsp; Interact with the outside world</a></li>
          <li class="active"><a href="#11"><strong>How it works?</strong></a></li>
        </ul>
      </div>

    </div>
